body {
  color: #00f;
  font-family: Gill Sans;
}
.section {
  max-width: 500px;
  margin: auto;
  width: 100vw;
}
.section p,
.section ul {
  margin-left: 10%;
  margin-top: 20px;
  width: 80%;
}
.br {
  margin-top: 30px;
  margin-bottom: 30px;
  border-bottom: 2px dotted #00f;
}
.a {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
h1 {
  font-weight: bold;
  font-size: 6em;
  width: 80%;
}
h2 {
  font-weight: bold;
  font-size: 2em;
  margin-left: 10%;
  width: 80%;
}
.mail {
  background: #00f;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin-left: 10%;
}
.mail button {
  cursor: pointer;
  line-height: 30px;
  height: 32px;
  margin: 0;
  border: 0;
  background: #eee;
  font-size: 1.2em;
  color: #00f;
}
.mail input {
  outline: 0;
  width: 40%;
  font-size: 1.2em;
  line-height: 30px;
  border: 0;
  color: #00f;
}
