body
  margin 0
  display flex
  overflow hidden
.left
  width 30vw
  height 100vh
  background #eee
  .profile
    width 80%
    margin auto
    margin-top 10px
    p
      font-size 2em
      margin 0
    img
      width 100px
      margin auto
.right
  width 70vw
  height 100vh
  background #333
