extends layout

block content
  .circle.a

  h1 slice
  p мобильное приложение конструктор споров без посредников и комиссии

  p
    bold скоро в appstore
  img.apps(src='https://upload.wikimedia.org/wikipedia/commons/thumb/3/3c/Download_on_the_App_Store_Badge.svg/270px-Download_on_the_App_Store_Badge.svg.png')
