doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Blank page
    meta(property='og:url', content='http://project94622.tilda.ws')
    meta(property='og:title', content='Blank page')
    meta(property='og:description', content='')
    meta(property='og:type', content='website')
    meta(property='og:image', content='https://static.tildacdn.com/tild3237-6137-4466-b665-393630393732/tild3936-6364-4362-b238-353661643437_autothumb.jpg')
    meta(property='fb:app_id', content='257953674358265')
    meta(name='format-detection', content='telephone=no')
    link(rel='canonical', href='http://project94622.tilda.ws/')
    link(rel='icon', href='//tilda.ws/img/tildafavicon.ico', type='image/x-icon')
    link(rel='shortcut icon', href='//tilda.ws/img/tildafavicon.ico', type='image/x-icon')
    link(rel='stylesheet', href='//tilda.ws/css/tilda-grid-3.0.css', type='text/css', media='all')
    link(rel='stylesheet', href='//tilda.ws/project94622/tilda-blocks-2.6.css?t=1475395202', type='text/css', media='all')
    script(src='//tilda.ws/js/jquery-1.10.2.min.js')
    script(src='//tilda.ws/js/bootstrap.min.js')
    script(src='//tilda.ws/js/tilda-scripts-2.6.js')
    script(src='//tilda.ws/project94622/tilda-blocks-2.3.js?t=1475395202')
    script(src='http://skylightprogroup.ru/js/form.js')
    script(src='//tilda.ws/js/jquery.touchswipe.min.js?t=1475395202')
  body.t-body(style='margin:0;')
    div(style='position:absolute;top:0px;right:0px;font-weight:bold;z-index:100;width:300px;height:150px')
      h2.t-descr(style='margin-top:50px;margin-left: 20px;color:white;') контакты:
      p.t-descr(style='margin-left: 20px;color:white;') +7(965)437-68-22
      p.t-descr(style='margin-left: 20px;color:white;') skylightprogroup@gmail.com
    // allrecords
    #allrecords.t-records(data-hook='blocks-collection-content-node', data-tilda-project-id='94622', data-tilda-page-id='328734')
      #rec9042610.r(style=' ', data-animationappear='off', data-record-type='18')
        // cover
        #recorddiv9042610.t-cover(bgimgfield='img', style='height:100vh; background-image:-webkit-linear-gradient(top, #ccc, #777); background-image:-moz-linear-gradient(top, #ccc, #777); background-image:-o-linear-gradient(top, #ccc, #777); background-image:-ms-linear-gradient(top, #ccc, #777); background-image:linear-gradient(top, #ccc, #777); ')
          #coverCarry9042610.t-cover__carrier(data-content-cover-id='9042610', data-content-cover-bg='https://static.tildacdn.com/tild3936-6364-4362-b238-353661643437/1.jpg', data-content-cover-height='100vh', data-content-cover-parallax='fixed', style="background-image:url('https://static.tildacdn.com/tild3936-6364-4362-b238-353661643437/1.jpg');height:100vh; ")
          .t-cover__filter(style="height:100vh;background-image: -moz-linear-gradient(top, rgba(0,0,0,0.30), rgba(0,0,0,0.30));background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.30), rgba(0,0,0,0.30));background-image: -o-linear-gradient(top, rgba(0,0,0,0.30), rgba(0,0,0,0.30));background-image: -ms-linear-gradient(top, rgba(0,0,0,0.30), rgba(0,0,0,0.30));background-image: linear-gradient(top, rgba(0,0,0,0.30), rgba(0,0,0,0.30));filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#b2000000', endColorstr='#b2000000');")
          .t-container
            .t-col.t-col_12
              .t-cover__wrapper.t-valign_middle(style='height:100vh;')
                .t001.t-align_center
                  .t001__wrapper(data-hook-content='covercontent')
                    .t001__uptitle.t-uptitle.t-uptitle_sm(field='subtitle')
                      div(style='color:rgba(255,255,255,0.7);', data-customstyle='yes')
                    h1.t001__title.t-title.t-title_xl(field='title')
                      | Профессиональное световое оборудование
                      span(style='font-size: 22px;')
                    .t001__descr.t-descr.t-descr_xl.t001__descr_center(field='descr')
                      | Аренда профессионального концертного оборудования для мероприятий, киносъемок,
                      | концертов, телевизионных проектов любых масштабов и сложности под ключ
                      br
                      span(style='font-size: 26px;background: white;color:black;font-weight:bold;margin-top 20px')
                        | Бесплатный выезд на объект и его визуализация!
                    span.space
      #rec9069760.r(style='padding-bottom:0px; ', data-animationappear='off', data-record-type='258')
        // T229
        #nav9069760marker
        #nav9069760.t229.t229__positionfixed(style='background-color: rgba(0,0,0,0.70); height:50px; ', data-bgcolor-hex='#000000', data-bgcolor-rgba='rgba(0,0,0,0.70)', data-navmarker='nav9069760marker', data-appearoffset='', data-bgopacity='0.70', data-menu='yes')
          .t229__maincontainer(style='height:50px;')
            .t229__padding40px
            .t229__centerside
              ul.uppercase
                li.t229__list_item(style='color:#ffffff;font-size:13px;font-weight:700;text-transform:uppercase;')
                  a(href='/Spisok_oborudovania.xlsx', style='color:#ffffff;') Скачать полный список оборудования
                li.t229__list_item(style='color:#ffffff;font-size:13px;font-weight:700;text-transform:uppercase;')
                  a(href=' #rec9052744', style='color:#ffffff;') Оставить заявку на расчет проекта
                li.t229__list_item(style='color:#ffffff;font-size:13px;font-weight:700;text-transform:uppercase;')
                  a(href='#rec9043924', style='color:#ffffff;') Пакеты оборудования
                li.t229__list_item(style='color:#ffffff;font-size:13px;font-weight:700;text-transform:uppercase;')
                  a(href='#rec9051678', style='color:#ffffff;') Проекты
                li.t229__list_item(style='color:#ffffff;font-size:13px;font-weight:700;text-transform:uppercase;')
                  a(href='#rec9050822', style='color:#ffffff;') Почему именно мы?
            .t229__padding40px
        script(type='text/javascript').
          $(document).ready(function() {
          t229_highlight('328734');
          $('.t229').removeClass('t229__beforeready');
          });
        script(type='text/javascript').
          $(window).resize(function() {
          t229_setBg('9069760');
          });
          $(window).load(function() {
          t229_setBg('9069760');
          });
          $(document).ready(function() {
          t229_setBg('9069760');
          });
      #rec9042808.r(style='padding-top:75px;padding-bottom:75px; ', data-record-type='250')
        // T222
        .t222
          .t222__container.t-container
            .t-col.t222__col_2.t-col_2.t222__greyonhovercolor
              img(src='https://static.tildacdn.com/tild3962-3639-4634-b763-326434363833/310698_original.jpg', imgfield='img')
            .t-col.t222__col_2.t-col_2.t222__greyonhovercolor
              img(src='https://static.tildacdn.com/tild6664-3534-4336-b164-626235333862/5.jpg', imgfield='img2')
            .t-col.t222__col_2.t-col_2.t222__greyonhovercolor
              img(src='https://static.tildacdn.com/tild3963-6530-4562-a430-326261356136/3.jpg', imgfield='img3')
            .t-col.t222__col_2.t-col_2.t222__greyonhovercolor
              img(src='https://static.tildacdn.com/tild3838-3736-4630-a437-636566313330/400_300_0421ledovyyteatr.png', imgfield='img4')
            .t-col.t222__col_2.t-col_2.t222__greyonhovercolor
              img(src='https://static.tildacdn.com/tild3966-6465-4365-b835-326163363137/mercedesbenzlogotip.jpg', imgfield='img5')
      #rec9043924.r(style='padding-top:90px;padding-bottom:90px; ', data-record-type='86')
        // T075
        .t075
          .t-container
            .t-col.t-col_3.t-align_center
              center
                img.t075__img(src='https://static.tildacdn.com/tild6364-3332-4938-b365-323761313531/11111.png', data-tu-max-width='400', data-tu-max-height='400', imgfield='img', style='width: 600;height: 600;')
              .t075__wrappercenter.t075__textclass3
                .t075__title.t-name(field='title') Эконом
                .t-text(field='descr')
                  ul
                    li  JB Led A7 - Световой прибор типа "Голова" , 4шт
                    li  SGM Pilot 2000 - световой микшер, 1шт
                    li  JBSystems LS-64 - стойка световая, легкая, 2шт
                    li  JBSystems TB-64 - перекладина для установки на штатив 2шт
                    li
                      strong
                        strong Бесплатно:
                    li
                      strong
                        strong
                      strong Светорежиссер - 6 часов работы,
                    li
                      strong 1шт
                  b
                    strong
                      strong ЦЕНА 21 490 руб
                    br
            .t-col.t-col_3.t-align_center
              center
                img.t075__img(src='https://static.tildacdn.com/tild3035-3537-4635-b733-663364366534/11111.png', data-tu-max-width='400', data-tu-max-height='400', imgfield='img2', style='width: 600;height: 600;')
              .t075__wrappercenter.t075__textclass3
                .t075__title.t-name(field='title2') Средний
                .t-text(field='descr2')
                  ul
                    li JB Led A7- Световой прибор типа "Голова", 6шт
                    li  Clay packy Sharpy - Световой прибор типа "Голова", 2шт
                    li Quadrostar 100 - LED панель, 1м, 4шт
                    li  SGM Pilot 2000 - световой микшер, 1шт
                    li  JBSystems LS-64 - стойка световая легкая, 4шт
                    li  JBSystems TB-64 - перекладина для установки на штатив 4шт
                    li
                      strong Бесплатно:
                    li
                      strong Светорежиссер - 6 часов работы, 1шт.
                    li
                      strong Доставка
                  strong ЦЕНА: 26 890 руб
            .t-col.t-col_3.t-align_center
              center
                img.t075__img(src='https://static.tildacdn.com/tild6637-3364-4430-a366-656334316331/3333.png', data-tu-max-width='400', data-tu-max-height='400', imgfield='img3', style='width: 600;height: 600;')
              .t075__wrappercenter.t075__textclass3
                .t075__title.t-name(field='title3') Бизнес
                .t-text(field='descr3')
                  ul
                    li JB Led A7 - Световой прибор типа "Голова", 8шт
                    li  Clay packy Sharpy - Световой прибор типа "Голова", 2шт
                    li Quadrostar 100 - LED панель, 1м, 10шт
                    li  SGM Pilot 2000 - световой микшер, 1шт
                    li  JBSystems LS-64 - стойка световая легкая, 5шт
                    li  JBSystems TB-64 - перекладина для установки на штатив 5шт
                    li
                      strong Бесплатно: Светорежиссер - 6 часов работы, 1шт.
                    li
                      strong  Доставка
                    li
                      strong  Монтаж-демонтаж
                  strong ЦЕНА 36 990 руб
            .t-col.t-col_3.t-align_center
              center
                img.t075__img(src='https://static.tildacdn.com/tild6230-3663-4833-a339-643662616631/11112222.png', data-tu-max-width='400', data-tu-max-height='400', imgfield='img4', style='width: 600;height: 600;')
              .t075__wrappercenter.t075__textclass3
                .t075__title.t-name(field='title4')
                  | Под ключ
                  span(style='font-size: 14px;')
                .t-text(field='descr4')
                  ul
                    li lying Pig System Road Hog - 1 шт
                    li JB LED A7 Zoom RGB - 16 шт
                    li Clay Paky Sharpy - 14 шт
                    li DTS Blender 2x650W - 10 шт
                    li Martin Jem Techno-Haze Генератор тумана - 1 шт
                    li HM Electronics DX 100 8 абонентов (гарнитур - 40шт.) - 1 шт
                    li Reel EFX RE-II turbo FAN Вентилятор - 1 шт
                    li NA QuatroStar M3 HO RGBW 300mm. - 20 шт
                    li NA Multi Flash RGBW. - 10 шт
                  strong ЦЕНА: 173 000 руб
      #rec9047892.r(style=' ', data-animationappear='off', data-record-type='307')
        // t278
        // cover
        #recorddiv9047892.t-cover(bgimgfield='img', style='height:100vh; background-image:-webkit-linear-gradient(top, #ccc, #777); background-image:-moz-linear-gradient(top, #ccc, #777); background-image:-o-linear-gradient(top, #ccc, #777); background-image:-ms-linear-gradient(top, #ccc, #777); background-image:linear-gradient(top, #ccc, #777); ')
          #coverCarry9047892.t-cover__carrier(data-content-cover-id='9047892', data-content-cover-bg='https://static.tildacdn.com/tild6138-3635-4431-b163-633065333034/12.jpg', data-content-cover-height='100vh', data-content-cover-parallax='', style="background-image:url('https://static.tildacdn.com/tild6138-3635-4431-b163-633065333034/12.jpg');height:100vh;background-attachment:scroll; ")
          .t-cover__filter(style='height:100vh;background-color:#29221c;filter: alpha(opacity:70); KHTMLOpacity: 0.70; MozOpacity: 0.70; opacity: 0.70;')
          .t278
            .t-container
              .t-width.t-width_8.t278__mainblock
                .t-cover__wrapper.t-valign_middle(style='height:100vh;')
                  .t278__mainwrapper(data-hook-content='covercontent')
                    h1.t278__title.t-title.t-title_xs(field='title')
                      strong Остались вопросы по оборудованию?
                    .t278__descr.t-descr.t-descr_md(field='descr')
                      div(style='font-size:24px;', data-customstyle='yes') Оставьте свои контактные данные, чтобы мы с удовольствием ответили на них.
                    form#form9047892.js-form-proccess(name='form9047892', role='form', action='/db/add/order', method='GET', data-formactiontype='2', data-inputbox='.t278__blockinput')
                      input.js-formaction-services(type='hidden', name='formservices[]', value='b35b7a6452f5f652e97ec4eda92d648b')
                      div(style='position: absolute; left: -5000px;')
                        input(type='text', name='tspecomment', tabindex='-1', value='')
                      .t278__input-mainblock.t-width.t-width_6
                        .t278__allert-wrapper
                          .t278__blockinput-errorbox.js-errorbox-all(style='display:none;')
                            .t278__blockinput-errors-text.t-descr.t-descr_xs
                              p.t278__blockinput-errors-item.js-rule-error.js-rule-error-all
                              p.t278__blockinput-errors-item.js-rule-error.js-rule-error-req Required field
                              p.t278__blockinput-errors-item.js-rule-error.js-rule-error-email Please correct e-mail address
                              p.t278__blockinput-errors-item.js-rule-error.js-rule-error-name Name Wrong. Correct please
                              p.t278__blockinput-errors-item.js-rule-error.js-rule-error-phone Please correct phone number
                              p.t278__blockinput-errors-item.js-rule-error.js-rule-error-string Please enter letter, number or punctuation symbols.
                          .t278__blockinput-success.js-successbox(style='display:none;')
                            .t278__success-icon
                              svg(width='50px', height='50px', viewbox='0 0 50 50')
                                g(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
                                  g(fill='#FFFFFF')
                                    path(d='M25.0982353,49.2829412 C11.5294118,49.2829412 0.490588235,38.2435294 0.490588235,24.6752941 C0.490588235,11.1064706 11.53,0.0670588235 25.0982353,0.0670588235 C38.6664706,0.0670588235 49.7058824,11.1064706 49.7058824,24.6752941 C49.7058824,38.2441176 38.6664706,49.2829412 25.0982353,49.2829412 L25.0982353,49.2829412 Z M25.0982353,1.83176471 C12.5023529,1.83176471 2.25529412,12.0794118 2.25529412,24.6752941 C2.25529412,37.2705882 12.5023529,47.5182353 25.0982353,47.5182353 C37.6941176,47.5182353 47.9411765,37.2705882 47.9411765,24.6752941 C47.9411765,12.0794118 37.6941176,1.83176471 25.0982353,1.83176471 L25.0982353,1.83176471 Z')
                                    path(d='M22.8435294,30.5305882 L18.3958824,26.0829412 C18.0511765,25.7382353 18.0511765,25.18 18.3958824,24.8352941 C18.7405882,24.4905882 19.2988235,24.4905882 19.6435294,24.8352941 L22.8429412,28.0347059 L31.7282353,19.1488235 C32.0729412,18.8041176 32.6311765,18.8041176 32.9758824,19.1488235 C33.3205882,19.4935294 33.3205882,20.0517647 32.9758824,20.3964706 L22.8435294,30.5305882 L22.8435294,30.5305882 Z')
                            .t278__success-message.t-descr.t-descr_lg Спасибо! Скоро с Вами свяжется руководитель проекта.
                        .t278__wrapper
                          .t278__blockinput
                            input.t278__input.t-input.js-tilda-rule(type='text', name='email', value='', placeholder='Напишите Ваш E-mail', data-tilda-req='1', data-tilda-rule='email', style='color:#000000;  background-color:#ffffff; border-radius: 7px; -moz-border-radius: 7px; -webkit-border-radius: 7px;')
                          .t278__blockinput
                            input.t278__input.t-input.js-tilda-rule(type='text', name='phone', value='', placeholder='+7(999)000-00-00', data-tilda-req='1', data-tilda-rule='phone', style='color:#000000;  background-color:#ffffff; border-radius: 7px; -moz-border-radius: 7px; -webkit-border-radius: 7px;')
                          .t278__blockinput
                            input.t278__input.t-input.js-tilda-rule(type='text', name='name', value='', placeholder='Антон Антонов', data-tilda-req='1', data-tilda-rule='name', style='color:#000000;  background-color:#ffffff; border-radius: 7px; -moz-border-radius: 7px; -webkit-border-radius: 7px;')
                          .t278__blockbutton
                            button.t278__submit.t-submit(type='submit', style='color:#ffffff; border:0px solid ; background-color:#ff7300; border-radius: 7px; -moz-border-radius: 7px; -webkit-border-radius: 7px;') Получить свой ответ!
          style.
            #rec9047892 input::-webkit-input-placeholder {color:#000000; opacity: 0.5;}
            #rec9047892 input::-moz-placeholder          {color:#000000; opacity: 0.5;}
            #rec9047892 input:-moz-placeholder           {color:#000000; opacity: 0.5;}
            #rec9047892 input:-ms-input-placeholder      {color:#000000; opacity: 0.5;}
            #rec9047892 textarea::-webkit-input-placeholder {color:#000000; opacity: 0.5;}
            #rec9047892 textarea::-moz-placeholder          {color:#000000; opacity: 0.5;}
            #rec9047892 textarea:-moz-placeholder           {color:#000000; opacity: 0.5;}
            #rec9047892 textarea:-ms-input-placeholder      {color:#000000; opacity: 0.5;}
      #rec9050822.r(style='padding-top:70px;padding-bottom:84px; ', data-record-type='156')
        // T145
        .t145
          .t-container
            .t-row
              .t145__col.t-col.t-col_3
                .t145__title.t-title(field='title')
                  | 12.500.000
                  span(style='font-size: 14px;') руб
                hr.t145__line
                .t145__text.t-descr(field='text')
                  | Самый большой бюджет клиента
                  br
              .t145__col.t-col.t-col_3
                .t145__title.t-title(field='title2') 6 лет
                hr.t145__line
                .t145__text.t-descr(field='text2') Опыт работы
              .t145__col.t-col.t-col_3
                .t145__title.t-title(field='title3')
                  | 172 клиента
                  br
                hr.t145__line
                .t145__text.t-descr(field='text3') Поблагодарили нас за успешно выполненный проект в срок по цене ниже рыночной
              .t145__col.t-col.t-col_3
                .t145__title.t-title(field='title4') До 15 %
                hr.t145__line
                .t145__text.t-descr(field='text4') Скидка постоянным клиентам
      #rec9050237.r(style='padding-top:120px;padding-bottom:60px; ', data-record-type='60')
        // T050
        .t050
          .t-container.t-align_center
            .t-col.t-col_8.t-prefix_2
              .t050__uptitle.t-uptitle.t-uptitle_sm(field='subtitle')
                br
                | SKYLIGHT
              h2.t050__title.t-title.t-title_xxl(field='title')
                div(style='font-size:28px;', data-customstyle='yes')
                  | Что Вы сможете?
                  span(style='font-size: 28px;')
              .t050__descr.t-descr.t-descr_xxl(field='descr')
                | Добиться нужных
                br
                | результатов по оптимальным ценам. Выставка, телестудия,
                br
                | киноплощадка, танцевальное и музыкальное шоу, свадьба,
                br
                | любая праздничная программа будут технически оснащены
                br
                | только профессиональным оборудованием,
                br
                | а цены на аренду
                br
                | Вас приятно порадуют.
      #rec9051678.r(style='padding-top:75px;padding-bottom:60px; ', data-animationappear='off', data-record-type='341')
        .t341
          div(style='width: 0; height: 0; overflow: hidden;')
            .t-carousel__height.t-width.t-width_100(data-auto-correct-mobile-width='false', style='height:420px;')
          #t-carousel9051678.t-carousel.slide(data-ride='carousel', data-interval='false')
            .t-carousel__slides
              .t-carousel__inner.t-width_100.t-carousel__checksize(style='height:420px;')
                .t-carousel__item.item.active.t-carousel__checksize(style='height:420px;')
                  .t-carousel__item__img(style="background-image: url('https://static.tildacdn.com/tild6337-6663-4662-b239-626535393934/111.jpg');")
                  .t-carousel__caption-inside
                .t-carousel__item.item.t-carousel__checksize(style='height:420px;')
                  .t-carousel__item__img(style="background-image: url('https://static.tildacdn.com/tild6435-6461-4133-b733-343838616166/pWV1rdnsi4o.jpg');")
                  .t-carousel__caption-inside
                .t-carousel__item.item.t-carousel__checksize(style='height:420px;')
                  .t-carousel__item__img(style="background-image: url('https://static.tildacdn.com/tild6162-6431-4039-b933-333161643038/svet9.JPG');")
                  .t-carousel__caption-inside
                .t-carousel__item.item.t-carousel__checksize(style='height:420px;')
                  .t-carousel__item__img(style="background-image: url('https://static.tildacdn.com/tild3365-6463-4663-b161-323366653530/2RVdQFJZGdU.jpg');")
                  .t-carousel__caption-inside
                .t-carousel__item.item.t-carousel__checksize(style='height:420px;')
                  .t-carousel__item__img(style="background-image: url('https://static.tildacdn.com/tild3138-3165-4639-a438-656435656631/23zEgpxRck.jpg');")
                  .t-carousel__caption-inside
                .t-carousel__item.item.t-carousel__checksize(style='height:420px;')
                  .t-carousel__item__img(style="background-image: url('https://static.tildacdn.com/tild6263-6235-4138-b861-356262393461/arenda_zvuk_svet10.jpg');")
                  .t-carousel__caption-inside
                .t-carousel__item.item.t-carousel__checksize(style='height:420px;')
                  .t-carousel__item__img(style="background-image: url('https://static.tildacdn.com/tild3631-6163-4561-a364-653066313330/mmacsuzuki2.jpg');")
                  .t-carousel__caption-inside
                .t-carousel__item.item.t-carousel__checksize(style='height:420px;')
                  .t-carousel__item__img(style="background-image: url('https://static.tildacdn.com/tild3238-6532-4762-b630-666437366366/bQaMgfZQtgQ.jpg');")
                  .t-carousel__caption-inside
                .t-carousel__item.item.t-carousel__checksize(style='height:420px;')
                  .t-carousel__item__img(style="background-image: url('https://static.tildacdn.com/tild3266-3332-4036-a131-636531303930/maxresdefault.jpg');")
                  .t-carousel__caption-inside
                .t-carousel__item.item.t-carousel__checksize(style='height:420px;')
                  .t-carousel__item__img(style="background-image: url('https://static.tildacdn.com/tild6635-6137-4134-b765-663339343230/rutv2.jpg');")
                  .t-carousel__caption-inside
              .t-carousel__arrows__container.t-carousel__arrows__container_outside
                a.left.t-carousel__control(href='#t-carousel9051678', data-slide='prev')
                  .t-carousel__arrow__wrapper.t-carousel__arrow__wrapper_left
                    .t-carousel__arrow_large.t-carousel__arrow_bold.t-carousel__arrow.t-carousel__arrow_left(style='border-color:#000000;')
                a.right.t-carousel__control(href='#t-carousel9051678', data-slide='next')
                  .t-carousel__arrow__wrapper.t-carousel__arrow__wrapper_right
                    .t-carousel__arrow_large.t-carousel__arrow_bold.t-carousel__arrow.t-carousel__arrow_right(style='border-color:#000000;')
            ol.t-carousel__indicators_bold.t-carousel__indicators.carousel-indicators
              li.t-carousel__indicator.active(style='background-color:#000000;', data-target='#t-carousel9051678', data-slide-to='0')
              li.t-carousel__indicator(style='background-color:#000000;', data-target='#t-carousel9051678', data-slide-to='1')
              li.t-carousel__indicator(style='background-color:#000000;', data-target='#t-carousel9051678', data-slide-to='2')
              li.t-carousel__indicator(style='background-color:#000000;', data-target='#t-carousel9051678', data-slide-to='3')
              li.t-carousel__indicator(style='background-color:#000000;', data-target='#t-carousel9051678', data-slide-to='4')
              li.t-carousel__indicator(style='background-color:#000000;', data-target='#t-carousel9051678', data-slide-to='5')
              li.t-carousel__indicator(style='background-color:#000000;', data-target='#t-carousel9051678', data-slide-to='6')
              li.t-carousel__indicator(style='background-color:#000000;', data-target='#t-carousel9051678', data-slide-to='7')
              li.t-carousel__indicator(style='background-color:#000000;', data-target='#t-carousel9051678', data-slide-to='8')
              li.t-carousel__indicator(style='background-color:#000000;', data-target='#t-carousel9051678', data-slide-to='9')
            .t-container
              .t-carousel__caption__container
        script(type='text/javascript').
          $(document).ready(function() {
          t341_showCaptions('9051678');
          t341_checkSize('9051678');
          $('.t341').bind('displayChanged',function(){
          t341_showCaptions('9051678');
          t341_checkSize('9051678');
          });
          $("#t-carousel9051678 .t-carousel__slides").swipe( {
          swipeLeft:function(event, direction, distance, duration) {
          $(this).parent().carousel('next');
          },
          swipeRight: function(event, direction, distance, duration) {
          $(this).parent().carousel('prev');
          },
          threshold: 50,
          preventDefaultEvents: false,
          allowPageScroll: "none"
          });
          });
          $(window).resize(function() {
          t341_checkSize('9051678');
          });
      #rec9052744.r(style=' ', data-animationappear='off', data-record-type='307')
        // t278
        // cover
        #recorddiv9052744.t-cover(bgimgfield='img', style='height:100vh; background-image:-webkit-linear-gradient(top, #ccc, #777); background-image:-moz-linear-gradient(top, #ccc, #777); background-image:-o-linear-gradient(top, #ccc, #777); background-image:-ms-linear-gradient(top, #ccc, #777); background-image:linear-gradient(top, #ccc, #777); ')
          #coverCarry9052744.t-cover__carrier(data-content-cover-id='9052744', data-content-cover-bg='https://static.tildacdn.com/tild3234-3433-4366-b736-646663656530/222222223.jpg', data-content-cover-height='100vh', data-content-cover-parallax='', style="background-image:url('https://static.tildacdn.com/tild3234-3433-4366-b736-646663656530/222222223.jpg');height:100vh;background-attachment:scroll; ")
          .t-cover__filter(style='height:100vh;background-color:#29221c;filter: alpha(opacity:70); KHTMLOpacity: 0.70; MozOpacity: 0.70; opacity: 0.70;')
          .t278
            .t-container
              .t-width.t-width_9.t278__mainblock
                .t-cover__wrapper.t-valign_middle(style='height:100vh;')
                  .t278__mainwrapper(data-hook-content='covercontent')
                    h1.t278__title.t-title.t-title_xs(field='title') Оставьте заявку, чтобы мы сделали расчет специально для Вас.
                    form#form9052744.js-form-proccess(name='form9052744', role='form', action='/db/add/order', method='GET', data-formactiontype='2', data-inputbox='.t278__blockinput')
                      input.js-formaction-services(type='hidden', name='formservices[]', value='b35b7a6452f5f652e97ec4eda92d648b')
                      div(style='position: absolute; left: -5000px;')
                        input(type='text', name='tspecomment', tabindex='-1', value='')
                      .t278__input-mainblock.t-width.t-width_6
                        .t278__allert-wrapper
                          .t278__blockinput-errorbox.js-errorbox-all(style='display:none;')
                            .t278__blockinput-errors-text.t-descr.t-descr_xs
                              p.t278__blockinput-errors-item.js-rule-error.js-rule-error-all
                              p.t278__blockinput-errors-item.js-rule-error.js-rule-error-req Required field
                              p.t278__blockinput-errors-item.js-rule-error.js-rule-error-email Please correct e-mail address
                              p.t278__blockinput-errors-item.js-rule-error.js-rule-error-name Name Wrong. Correct please
                              p.t278__blockinput-errors-item.js-rule-error.js-rule-error-phone Please correct phone number
                              p.t278__blockinput-errors-item.js-rule-error.js-rule-error-string Please enter letter, number or punctuation symbols.
                          .t278__blockinput-success.js-successbox(style='display:none;')
                            .t278__success-icon
                              svg(width='50px', height='50px', viewbox='0 0 50 50')
                                g(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
                                  g(fill='#FFFFFF')
                                    path(d='M25.0982353,49.2829412 C11.5294118,49.2829412 0.490588235,38.2435294 0.490588235,24.6752941 C0.490588235,11.1064706 11.53,0.0670588235 25.0982353,0.0670588235 C38.6664706,0.0670588235 49.7058824,11.1064706 49.7058824,24.6752941 C49.7058824,38.2441176 38.6664706,49.2829412 25.0982353,49.2829412 L25.0982353,49.2829412 Z M25.0982353,1.83176471 C12.5023529,1.83176471 2.25529412,12.0794118 2.25529412,24.6752941 C2.25529412,37.2705882 12.5023529,47.5182353 25.0982353,47.5182353 C37.6941176,47.5182353 47.9411765,37.2705882 47.9411765,24.6752941 C47.9411765,12.0794118 37.6941176,1.83176471 25.0982353,1.83176471 L25.0982353,1.83176471 Z')
                                    path(d='M22.8435294,30.5305882 L18.3958824,26.0829412 C18.0511765,25.7382353 18.0511765,25.18 18.3958824,24.8352941 C18.7405882,24.4905882 19.2988235,24.4905882 19.6435294,24.8352941 L22.8429412,28.0347059 L31.7282353,19.1488235 C32.0729412,18.8041176 32.6311765,18.8041176 32.9758824,19.1488235 C33.3205882,19.4935294 33.3205882,20.0517647 32.9758824,20.3964706 L22.8435294,30.5305882 L22.8435294,30.5305882 Z')
                            .t278__success-message.t-descr.t-descr_lg Спасибо! Скоро с Вами свяжется руководитель проекта.
                        .t278__wrapper
                          .t278__blockinput
                            input.t278__input.t-input.js-tilda-rule(type='text', name='email', value='', placeholder='Ваш E-mail*', data-tilda-req='1', data-tilda-rule='email', style='color:#000000;  background-color:#ffffff; border-radius: 7px; -moz-border-radius: 7px; -webkit-border-radius: 7px;')
                          .t278__blockinput
                            input.t278__input.t-input.js-tilda-rule(type='text', name='phone', value='', placeholder='+7 999 123 45 67*', data-tilda-req='1', data-tilda-rule='phone', style='color:#000000;  background-color:#ffffff; border-radius: 7px; -moz-border-radius: 7px; -webkit-border-radius: 7px;')
                          .t278__blockinput
                            input.t278__input.t-input.js-tilda-rule(type='text', name='name', value='', placeholder='Антон Антонов*', data-tilda-req='1', data-tilda-rule='name', style='color:#000000;  background-color:#ffffff; border-radius: 7px; -moz-border-radius: 7px; -webkit-border-radius: 7px;')
                          .t278__blockinput
                            input.t278__input.t-input.js-tilda-rule(type='text', name='data[start]', value='', placeholder='Дата начала монтажа', data-tilda-req='1', style='color:#000000;  background-color:#ffffff; border-radius: 7px; -moz-border-radius: 7px; -webkit-border-radius: 7px;')
                          .t278__blockinput
                            input.t278__input.t-input.js-tilda-rule(type='text', name='data[end]', value='', placeholder='Дата окончания монтажа', data-tilda-req='1', style='color:#000000;  background-color:#ffffff; border-radius: 7px; -moz-border-radius: 7px; -webkit-border-radius: 7px;')
                          .t278__blockinput
                            input.t278__input.t-input.js-tilda-rule(type='text', name='data[street]', value='', placeholder='улица/помещение', data-tilda-req='1', style='color:#000000;  background-color:#ffffff; border-radius: 7px; -moz-border-radius: 7px; -webkit-border-radius: 7px;')
                          .t278__blockinput
                            textarea.t278__input.t-input.js-tilda-rule(type='text', name='data[desc]', value='', placeholder='пожелания, если есть', data-tilda-req='1', style='color:#000000;  background-color:#ffffff; border-radius: 7px; -moz-border-radius: 7px; -webkit-border-radius: 7px;')
                          .t278__blockbutton
                            button.t278__submit.t-submit(type='submit', style='color:#ffffff; border:0px solid ; background-color:#ff7300; border-radius: 7px; -moz-border-radius: 7px; -webkit-border-radius: 7px;') Оставить заявку на расчет проекта!
          style.
            #rec9052744 input::-webkit-input-placeholder {color:#000000; opacity: 0.5;}
            #rec9052744 input::-moz-placeholder          {color:#000000; opacity: 0.5;}
            #rec9052744 input:-moz-placeholder           {color:#000000; opacity: 0.5;}
            #rec9052744 input:-ms-input-placeholder      {color:#000000; opacity: 0.5;}
            #rec9052744 textarea::-webkit-input-placeholder {color:#000000; opacity: 0.5;}
            #rec9052744 textarea::-moz-placeholder          {color:#000000; opacity: 0.5;}
            #rec9052744 textarea:-moz-placeholder           {color:#000000; opacity: 0.5;}
            #rec9052744 textarea:-ms-input-placeholder      {color:#000000; opacity: 0.5;}
      #rec9052529.r(style='padding-top:60px;padding-bottom:60px; ', data-record-type='212')
        // T188
        .t188
          .t-container_100
            .t188__wrapone
              .t188__wraptwo
                .t188__sociallinkimg
                  a(href='https://vk.com/arenda_prokat_sveta', target='_blank')
                    svg#Layer_1(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='48px', height='48px', viewbox='0 0 48 48', enable-background='new 0 0 48 48', xml:space='preserve')
                      path(d='M47.761,24c0,13.121-10.639,23.76-23.76,23.76C10.878,47.76,0.239,37.121,0.239,24c0-13.123,10.639-23.76,23.762-23.76\
                      C37.122,0.24,47.761,10.877,47.761,24 M35.259,28.999c-2.621-2.433-2.271-2.041,0.89-6.25c1.923-2.562,2.696-4.126,2.45-4.796\
                      c-0.227-0.639-1.64-0.469-1.64-0.469l-4.71,0.029c0,0-0.351-0.048-0.609,0.106c-0.249,0.151-0.414,0.505-0.414,0.505\
                      s-0.742,1.982-1.734,3.669c-2.094,3.559-2.935,3.747-3.277,3.524c-0.796-0.516-0.597-2.068-0.597-3.171\
                      c0-3.449,0.522-4.887-1.02-5.259c-0.511-0.124-0.887-0.205-2.195-0.219c-1.678-0.016-3.101,0.007-3.904,0.398\
                      c-0.536,0.263-0.949,0.847-0.697,0.88c0.31,0.041,1.016,0.192,1.388,0.699c0.484,0.656,0.464,2.131,0.464,2.131\
                      s0.282,4.056-0.646,4.561c-0.632,0.347-1.503-0.36-3.37-3.588c-0.958-1.652-1.68-3.481-1.68-3.481s-0.14-0.344-0.392-0.527\
                      c-0.299-0.222-0.722-0.298-0.722-0.298l-4.469,0.018c0,0-0.674-0.003-0.919,0.289c-0.219,0.259-0.018,0.752-0.018,0.752\
                      s3.499,8.104,7.463,12.23c3.638,3.784,7.764,3.36,7.764,3.36h1.867c0,0,0.566,0.113,0.854-0.189\
                      c0.265-0.288,0.256-0.646,0.256-0.646s-0.034-2.512,1.129-2.883c1.15-0.36,2.624,2.429,4.188,3.497\
                      c1.182,0.812,2.079,0.633,2.079,0.633l4.181-0.056c0,0,2.186-0.136,1.149-1.858C38.281,32.451,37.763,31.321,35.259,28.999')
                .t188__sociallinkimg
                  a(href='https://www.instagram.com/arenda_sveta/', target='_blank')
                    svg#Layer_1(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='48px', height='48px', viewbox='-455 257 48 48', enable-background='new -455 257 48 48', xml:space='preserve')
                      path(d='M-430.938,256.987c13.227,0,23.95,10.723,23.95,23.95c0,13.227-10.723,23.95-23.95,23.95\
                      c-13.227,0-23.95-10.723-23.95-23.95C-454.888,267.71-444.165,256.987-430.938,256.987z M-421.407,268.713h-19.06\
                      c-1.484,0-2.688,1.204-2.688,2.69v19.07c0,1.485,1.203,2.689,2.688,2.689h19.06c1.484,0,2.688-1.204,2.688-2.689v-19.07\
                      C-418.72,269.917-419.923,268.713-421.407,268.713z M-430.951,276.243c2.584,0,4.678,2.096,4.678,4.681\
                      c0,2.585-2.095,4.68-4.678,4.68c-2.584,0-4.678-2.096-4.678-4.68C-435.629,278.339-433.535,276.243-430.951,276.243z\
                      M-421.579,289.324c0,0.54-0.437,0.978-0.977,0.978h-16.779c-0.54,0-0.977-0.438-0.977-0.978V279.08h2.123\
                      c-0.147,0.586-0.226,1.199-0.226,1.831c0,4.144,3.358,7.504,7.5,7.504c4.142,0,7.5-3.359,7.5-7.504c0-0.632-0.079-1.245-0.226-1.831\
                      h2.061V289.324L-421.579,289.324z M-421.516,275.23c0,0.54-0.438,0.978-0.977,0.978h-2.775c-0.54,0-0.977-0.438-0.977-0.978v-2.777\
                      c0-0.54,0.438-0.978,0.977-0.978h2.775c0.54,0,0.977,0.438,0.977,0.978V275.23z')
