doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/style/style.css')
    script(src="/js/jquery.js")
    script(src="/js/moment.js")
    script(src="/js/chance.js")
    script(src="/js/index.js")
  body
    block content
