script(src='//tilda.ws/js/jquery-1.10.2.min.js')
script(src="https://cdn.socket.io/socket.io-1.4.5.js")
script(src='/js/client.js')
#chat
.inp(style='position:absolute; bottom:0; display: flex')
  input#m
  input#n
  button#b send
