form * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font: 13px Helvetica, Arial;
  margin: 0;
  display: -webkit-flexbox;
}
header{
  position: fixed;
  top: 0;
  left: 0;
  height: 4vh;
  line-height: 4vh;
  display: inline-block;
}
#body{
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
}
form {
  background: #000;
  padding: 3px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
form input { border: 0; padding: 10px; width: 90%; margin-right: .5%; }
form button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; }
#messages { list-style-type: none; margin: 0; padding: 0; width: 50vw; height: 96vh; position: absolute; top: 4vh; left: 0; overflow-y: scroll; overflow-x: hidden;}
#messages .li { padding: 5px 10px; margin: 0; }
#messages .li:nth-child(odd) { background: #eee; }
#tracker {
  width: 50vw;
  position: absolute;
  background: lightgray;
  top: 0;
  right: 0;
  height: 46vh;
  overflow-y: scroll;
  overflow-x: hidden;
}
#logger {
  width: 50vw;
  position: absolute;
  background: hotpink;
  display: -webkit-flex;
  top: 46vh;
  right: 0;
  height: 4vh;
  overflow-y: scroll;
  overflow-x: hidden;
  line-height: 4vh;
  color: white;
}
#logger *{
  line-height: 4vh;
}
#bot{
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50vw;
  height: 50vh;
  background: pink;
}
.blinkonce{
  -webkit-animation: blink 0.75s;
}
.good{
  color: seagreen;
}
.bad{
  color: orangered;
}

@-webkit-keyframes blink {
    from {
      background: yellow;
    }
    to {
      background: white;
    }
  }
